@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-image: url("./img.jpg");
    background-size: cover;
    background-position: center center;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Caveat', cursive;
}

h1 {
    font-size: 6rem;
    margin-top: 5rem;
    font-style: italic;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bigtext {
    font-size: 6rem;
    line-height: 1;
    margin: 2rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2em;
    font-weight: bolder;
}